/*font-family: 'Bebas Neue', cursive;*/


*,
*:after,
*:before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

@font-face{
    font-family:'Bebas Neue', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
}

.wrapper{
    width: 400px;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f8f8f8;
    border:5px solid #e9e9e9;
    padding: 20px 10px;

}



.text{
    font-family: 'Bebas Neue', cursive;
    color:#888888;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: color .3s ease;
}



label{
    display: flex;
    justify-content: space-between;
    height: 53px;
    width: 100%;
    align-items: center;
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor:default;

    transition: all .3s ease;
}

.license{
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.circle{
    height: 26px;
    width: 26px;
    background: #fff;
    border:4px solid #dedede;
    border-radius: 50%;
    position: relative;
}

.circle:before{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(2);
    border-radius: 50%;
    content: "";
    width: 12px;
    height: 12px;
    transition: all .3s ease;
}

.price{
    font-family: sans-serif;
    color:#9d9999;
    font-size: 12px;
}

#option-1:checked ~ .option-1 .circle:before,
#option-2:checked ~ .option-2 .circle:before,
#option-3:checked ~ .option-3 .circle:before{
     background-color: #0192c1;
    transform: translate(-50%, -50%) scale(1);
}


#option-1:checked ~ .option-1 .circle,
#option-2:checked ~ .option-2 .circle,
#option-3:checked ~ .option-3 .circle{
    border-color:#3f6481;
}




#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3{
    background: rgba(76, 234, 247,.1);
    border: 3px solid rgba(75, 214, 226,.2);
}



.wrapper .select-block input[type="radio"]{
    display: none;
}

.number-block{
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    padding: 20px 0;
    border-top:2px solid #e9e9e9;
    border-bottom:2px solid #e9e9e9;
}

.number-text{
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

.number-select{
    outline:#6c92c1;
    border:1px solid #0192c1;
    padding: 5px;
}




.buy-block{
    text-align: center;
}

.buy-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color:#a7a5a5;

    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
    letter-spacing: 2px;
}

.buy-price{
    display: flex;
    justify-content: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.buy__price{
    color:#0192c1;
    margin-left: 5px;
}

.buy__US{
    vertical-align: top;
    font-size: 14px;
    color:#0192c1;
    display: none;
}

.buy__btn{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 50px;
    background-color: #34a845;
    font-family: sans-serif;
    padding: 15px 50px;
    font-size: 12px;

    transition: background-color .2s linear;
}

.buy__btn:hover{
    background-color: #288836;
}

.buy__plan{
    color:#0192c1;
    font-family: sans-serif;
    margin-top: 50px;
}









